body{
	padding:0;
	margin: 0;
}

a{
	text-decoration: none;
}

button{
	box-shadow: none;
	border-radius: inherit;
}

@font-face {
    font-family: Poppins;
    src:url("./font/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src:url("./font/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-Italic;
    src:url("./font/Poppins-Italic.ttf");
}

@font-face {
    font-family: Poppins-Light;
    src:url("./font/Poppins-ExtraLight.ttf");
}

h1{
	font-family: Poppins;
    font-size: 40px;
    line-height: 60px;
    margin: 0;
    color: #ffffff;
}

h2 {
    font-family: Poppins;
    font-size: 26px;
    line-height: 29px;
    margin: 0;
}

h3 {
    font-family: Poppins-Light;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
}

h4{
	font-family: Poppins-Light;
	font-size: 14px;
	line-height: 20px;
	margin-top : 10px;
	margin-bottom: 10px;
}

h5{
	font-family: Poppins-Light;
	font-size: 14px;
	line-height: 20px;
	margin-top : 10px;
	margin-bottom: 10px;
	color: #747474
}
p{
	font-family: Poppins;
	font-size: 14px;
	line-height: 20px;
	margin-top : 10px;
	margin-bottom: 10px;
	color: #F9196A
}
.container-img{
	width: 100%;
	height: 715px;
  	padding-right: 140px;
  	padding-left: 140px;
  	padding-top: 42px; 
  	margin-right: auto;
  	margin-left: auto;
  	box-sizing: border-box;
  	display: block;
	background-image: url("./assets/gambar1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
}
.button-pink{
	border: 0;
	background-color: #F9196A;
	width: 100%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-pink-s{
	border: 0;
	background-color: #F9196A;
	width: 100%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-pink-m{
	border: 0;
	background-color: #F9196A;
	width: 60%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-white-m h5{
	color: #F9196A;
	margin: 0px;
}

.button-white-s h5{
	color: #F9196A;
	margin: 0px;
}

.button-white-m{
	border: 0;
	background-color: #ffffff;
	color: #F9196A;
	border:2px solid #F9196A; 
	width: 60%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-white-s{
	border: 0;
	background-color: #ffffff;
	color: #F9196A;
	border:2px solid #F9196A; 
	width: 30%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-pink-xs{
	border: 0;
	background-color: #F9196A;
	width: 30%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-pink-xxs{
	border: 0;
	background-color: #F9196A;
	width: 20%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-pink:hover {
	margin: 
}

.button-hollow{
	border: 1px solid #29293E;
	background-color: #ffffff;
	width: 100%;
	padding-left: 10%;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	display: inline-block;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #29293E;
}

.on-side{
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;

}


.input{
	border: 1px solid #C9C9C9;
	border-radius: 10px;
	padding: 18px;
	padding-right: 0;
	width: 95%;
	height: 2px;	
}

.nav{
	padding-top: 0px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Poppins;
}

.nav ul li {
  float: left;
}


.container-img ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li-button{
	width: 12%;
}

.highlight{
	width: 50%;
	margin: 0 auto;
}

.sub-highlight{
	width: 70%;
	margin: 0 auto;
}

.search{
	width: 60%;
	border-radius: 30px;
	font-family: Poppins;
	border: 0;
	background-color: #ffffff;
	padding-left: 30px;
}

.feature{
	width: 60%;
	margin: 0 auto;
}

.content{
	margin: 0 auto;
	border: 1px solid #DEDEDE;
	border-radius: 38.6329px;
	padding-bottom: 35px;
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	width: 120px; 
	height: 60px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #ffffff;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
  width: 240px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px;
  width: 310px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 10px;
}

.card-corner{
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 75px;
	height: 25px;
	padding-left: 25px;
	position: absolute;
	background-color: #F9196A;
}

.train{
	padding-bottom: 50px;
	border-bottom: 0.5px solid #747474;
}

.footer{
	border-top: 1px solid #DEDEDE;
	padding-top: 50px;
}

.select{
	font-family: Poppins;
	width: 30%;
	padding: 16px 30px;
	border-radius: 70px;
	border: 0;
}

.input-sm{
	border: 1px solid #C9C9C9;
	border-radius: 30px;
	padding: 16px 30px;
	padding-right: 0;
	border: 0;
	width: 30%;
	height: 20px;	
}

.button-xxs{
	border: 0;
	background-color: #F9196A;
	width: 10%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.comment{
	background-color: #E9E9E9;
	padding: 20px;
	width: 100%;
	border-radius: 10px;
}

.card3{
	background-color: #ffffff;
	padding: 30px;
	border-radius: 10px;
}
.card-head{
	padding: 15px;
}

.number li{
	list-style-type: decimal;
	font-family: Poppins
}

.popup{
	width: 500px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: #ffffff;
	position: absolute;
	display: none;
	z-index: 4;
}

.popup2{
	width: 500px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: #ffffff;
	position: absolute;
	display: none;
	z-index: 6;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.input-profile{
	width: 75%;
	height: 70px;
	background-color: transparent;
	border: 0;
	font-size: 18px;
	padding-left: 30px;
}

.input2 p {
	margin-top: 25px;
	font-size: 18px;
	position: absolute;
}

.input2 p:hover {
	cursor: pointer;
}

.input2{
	width: 10%;
	border-radius: 10px;
	background-color: #ffffff;
}

#inactive{
	display: none;
}
.karya{
	max-width: 30%;
	background-color: #ffffff;
	padding: 60px;
	position: absolute;
	border-radius: 10px;
	display: none;
}

.subnav h3{
	cursor: pointer;
}

.disable{
	width : 0%;
	margin-top: -10px;
}

.transform {
  transition: width 0.5s ease;
}

.transform1 {
  transition: width 0.5s ease;
}

.transform2 {
  transition: width 0.5s ease;
}

.transform3 {
  transition: width 0.5s ease;
}

.transform4 {
  transition: width 0.5s ease;
}

.transform-active {
  background-color: #45CEE0;
  width: 80%;
}


.file{
	display: none;
}

.karya{
	cursor: pointer;
}
